In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Plettenberg Bay,ZA,2021-05-24 03:42:50,-34.0527,23.3716,63.66,38,6,12.08
1,1,Hilo,US,2021-05-24 03:38:12,19.7297,-155.0900,78.53,82,75,9.22
2,2,Rikitea,PF,2021-05-24 03:42:51,-23.1203,-134.9692,74.77,75,46,5.06
3,3,Vaini,TO,2021-05-24 03:42:51,-21.2000,-175.2000,71.76,94,90,8.05
4,4,Bethel,US,2021-05-24 03:42:51,41.3712,-73.4140,68.92,65,40,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2021-05-24 03:38:12,19.7297,-155.0900,78.53,82,75,9.22
6,6,Nieuw Amsterdam,SR,2021-05-24 03:42:52,5.8833,-55.0833,77.16,93,100,8.97
22,22,Salinopolis,BR,2021-05-24 03:42:56,-0.6136,-47.3561,79.34,85,51,9.82
25,25,Georgetown,MY,2021-05-24 03:38:19,5.4112,100.3354,88.90,73,20,1.01
26,26,Dawlatabad,AF,2021-05-24 03:42:58,36.4141,64.9053,85.50,9,0,0.29
41,41,Faanui,PF,2021-05-24 03:43:01,-16.4833,-151.7500,81.63,73,78,8.01
44,44,Merauke,ID,2021-05-24 03:43:02,-8.4667,140.3333,85.86,62,42,10.51
50,50,San Patricio,US,2021-05-24 03:43:04,28.0170,-97.5169,78.67,88,1,11.03
54,54,Airai,TL,2021-05-24 03:43:06,-8.9266,125.4092,75.27,45,32,2.86
57,57,Atlantic City,US,2021-05-24 03:40:39,39.3643,-74.4229,80.85,80,20,15.68

In [22]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1              Hilo      US     78.53  19.7297 -155.0900
6   Nieuw Amsterdam      SR     77.16   5.8833  -55.0833
22      Salinopolis      BR     79.34  -0.6136  -47.3561
25       Georgetown      MY     88.90   5.4112  100.3354
26       Dawlatabad      AF     85.50  36.4141   64.9053
41           Faanui      PF     81.63 -16.4833 -151.7500
44          Merauke      ID     85.86  -8.4667  140.3333
50     San Patricio      US     78.67  28.0170  -97.5169
54            Airai      TL     75.27  -8.9266  125.4092
57    Atlantic City      US     80.85  39.3643  -74.4229

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Nieuw Amsterdam,SR,77.16,5.8833,-55.0833,Globe Hotel
22,Salinopolis,BR,79.34,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
25,Georgetown,MY,88.90,5.4112,100.3354,Cititel Penang
26,Dawlatabad,AF,85.50,36.4141,64.9053,WASIM ASGAR KHAN
...,...,...,...,...,...,...
554,Winneba,GH,78.51,5.3511,-0.6231,Windy Lodge & Beach Resort
555,Lugovoy,KZ,75.02,42.9472,72.7644,Ж.Д Вокзал Луговая
556,Katherine,AU,88.12,-14.4667,132.2667,Pine Tree Motel
559,Cabo San Lucas,MX,78.80,22.8909,-109.9124,Tesoro Los Cabos
564,Yeppoon,AU,78.58,-23.1333,150.7333,Villa Mar Colina

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))